@model GummyGummy.Models.RestaurantReview

@{
    ViewBag.Title = "Restaurant Review Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurant Details</h2>

<div>
    <h4>Restaurant Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index","Restaurants")
</p>
